<div *ngIf="user && user.id">
    <h4>Détails sur {{ user.nom }}</h4>
    <div>Matricule : {{ user.id }}</div>
    <div>Prénom : {{ user.prenom }}</div>
    <div>Contact : {{ user.contact }}</div>
</div>
