<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">e-Command</a>
        </div>

        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a [routerLink]="[ '/users' ]">Utilisateurs</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/articles">Articles</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/login">S'authentifier</a>
            </li>
            <li>
                <a routerLink="" (click)="logOut()">Se déconnecter</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div *ngIf="user && user.Nom">
                    <div><b>{{ user.Prenom }} {{ user.Nom }}</b></div>
                    <div>{{ user.Role.Name }}</div>
                </div>
            </li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
            <!-- <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> -->
        </ul>
    </div>
</nav>
