<h3>Liste des articles</h3>
<!--
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let article of articles" (click)="articleClicked(article)">
      <a routerLink="{{ article.id }}">{{ article.Id }}</a>
      : {{ article.Nom }} ({{ article.PrixUnitaire }})
    </li>
  </ul>
-->

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>PU</th>
      <th>Réference</th>
      <th>Rédaction</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let article of articles" (click)="articleClicked(article)">
      <td> {{ article.Id }} </td>
      <td> {{ article.Nom }} </td>
      <td> {{ article.PrixUnitaire }}</td>
      <td> {{ article.Reference }}</td>
      <td> {{ article.RedactionId }}</td>
      <td><span (click)="onEdit(article)">Edit</span> | <span (click)="onDelete(article.Id)">Delete</span></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-danger" routerLink="/articles/create">Créer</button>
<!-- <router-outlet name="outlet-article"></router-outlet> -->
