<div *ngIf="article && article.Id">
    <h4>Détails sur {{ article.Nom }}</h4>
    <div>ID : {{ article.Id }}</div>
    <div>PU : {{ article.PrixUnitaire }}</div>
    <div>Réference : {{ article.Reference }}</div>
    <div>RedactionId : {{ article.RedactionId }}</div>
</div>

<a [routerLink]="[ '/articles' ]"><< Retour à la liste </a>
