<h3>Liste des utilisateurs</h3>
<!-- <ul>
    <li *ngFor="let user of users" (click)="userClicked(user)" [class]="user == selectedUser ? classActive : ''">
        {{ user.Id }} : {{ user.Nom }} {{ user.Prenom }}
    </li>
</ul> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>UserName</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
      <th>Rôle</th>
      <th>Actif</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users" (click)="userClicked(user)">
      <td> {{ user.Id }} </td>
      <td> {{ user.UserName }} </td>
      <td> {{ user.Nom }} </td>
      <td> {{ user.Prenom }}</td>
      <td> {{ user.Mail }}</td>
      <td> {{ user.RoleName }}</td>
      <td> {{ user.Actif }}</td>
      <td><span (click)="onEdit(user)">Edit</span> | <span (click)="onDelete(user.Id)">Delete</span></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-danger" routerLink="/users/create">Créer</button>
