<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="Nom">Nom</label>
      <input type="text" class="form-control" formControlName="Nom">

      <div *ngIf="Nom.invalid && (Nom.dirty || Nom.touched)" class="alert alert-danger">

        <span *ngIf="Nom.invalid && Nom.errors.required">
          Ce champ est obligatoire
        </span>
        <!-- <span *ngIf="Nom.invalid && Nom.errors.invalidNumber">
          La valeur doit être un nombre
        </span> -->
      </div>
    </div>

    <div class="form-group">
      <label for="PrixUnitaire">Prix unitaire</label>
      <input type="number" class="form-control" formControlName="PrixUnitaire" min="0">
    </div>

    <div class="form-group">
      <label for="RedactionId">Rédaction</label>
      <input type="text" class="form-control" formControlName="RedactionId">
    </div>

    <div class="form-group">
      <label for="Reference">Référence</label>
      <input type="text" class="form-control" formControlName="Reference">
    </div>

    <!-- Field Id -->
    <input type="hidden" formControlName="Id">

    <!-- <div class="form-group">
      <label for="userId">Utilisateur</label>
      <select class="form-control" formControlName="userId">
        <option value="1">Administrateur</option>
        <option value="2">User</option>
      </select>
    </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">{{ btnLabel }}</button>
  </form>

  <button class="btn btn-primary pull-right" (click)="showDialog()">Show Dialog</button>
</div>
