<div class="container">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username">

            <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <span *ngIf="libelle.invalid && libelle.errors.required">
                    username is required.
                </span>
            </div> -->
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
