<!-- <h1>{{title}}</h1>
Changer le titre : <input type="text" [(ngModel)]="title" />
<button [disabled]="isDisabled" (click)="eventClick()">Click me!!!</button> -->

<!-- Template referencing -->
<!-- <app-person #appPerson></app-person>
<app-person-details [user]="appPerson.selectedUser"></app-person-details> -->

<!-- Input/Output -->
<!-- <app-person (onselectUser)="onUserSelected($event)"></app-person>
<app-person-details [user]="userSelected"></app-person-details> -->

<!-- Use services -->
<!-- <app-person></app-person>
<app-person-details></app-person-details> -->

<!------------------------------------------------------------------------------------------------>

<!-- <app-article #appArticle></app-article>
<app-article-details [articleDetails]="appArticle.articleSelected"></app-article-details> -->

<!-- <app-article (onarticleSelected)="onArticleSelected($event)"></app-article>
<app-article-details [articleDetails]="articleSelected"></app-article-details> -->

<!-- <app-article></app-article>
<app-article-details></app-article-details> -->

<!------------------------------------------------------------------------------------------------>

<app-header></app-header>

<!-- <app-confirm-dialog></app-confirm-dialog> -->

<router-outlet></router-outlet>
